
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Games of Throne Campaign Manager</title>

        <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        {% block head_assets %}{% endblock %}
    </head>

    <body role="document">

        {% include 'layouts/menu.twig' %}

        <div class="container" role="main">
            {% block content %}{% endblock %}
        </div>

        {% block foot_assets %}{% endblock %}

        {% if DEBUGBAR is defined %}
            {% autoescape false %}
                {{ DEBUGBAR_HEADER }}
                {{ DEBUGBAR }}
            {% endautoescape %}
        {% endif %}

    </body>

</html>