{% extends 'layouts/main.twig' %}

{% block content %}
<h1>It Works</h1>
<p>Je suis un petit pingouin</p>
<p>Voici un lien vers la <a href="{{ url('house', {'id': '3'}) }}">Maison Lannister</a> </p>
{% endblock %}